.project-container {
  max-width: 1024px;
}

.project-container h1, .project-container h4 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.project-images {
  max-width: 800px;
  width: 800px;
}

.project-main-image {
  max-height: 600px;
  max-width: 800px;
  width: 100%;
}

.project-image-thumb {
  height: 50px;
  width: 100px;
}

.project-image-thumb:not(:last-child) {
  margin-right: 5px;
}

.project-image-thumb-active {
  border: 5px solid  var(--accent-color);
}

#project-image-description {
  border-radius: 5px;
  margin-top: 10px;
  max-width: 600px;
  padding: 10px;
}

#modal-main-image {
  height: 620px;
}

@media screen and (max-width: 900px) {
  .project-images {
    max-width: 600px;
    width: 600px;
  }
  
  .project-main-image {
    max-height: 450px;
    max-width: 600px;
  }

  #modal-main-image {
    height: 470px;
  }
}

@media screen and (max-width: 700px) {
  .modal__content {
    max-width: 440px;
  }

  .project-images {
    max-width: 400px;
    width: 400px;
  }
  
  .project-main-image {
    max-height: 300px;
    max-width: 400px;
  }

  #modal-main-image {
    height: 310px;
  }

  .project-image-description {
    max-width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .modal__content {
    max-width: 340px;
  }

  .project-images {
    max-width: 300px;
    width: 300px;
  }
  
  .project-main-image {
    max-height: 225px;
    max-width: 300px;
  }

  #modal-main-image {
    height: 230px;
  }

  .project-image-description {
    max-width: 300px;
  }
}