:root {
  --primary-color: #474747;
  --secondary-color: #c9c9ca;
  --accent-color: #28879d;
  /* --primary-dark: #3c5277;
  --primary-light: #9fb2d9;
  
  
  --off-white: #f9f9f9; */
  /* --dark: #040b2a; */
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--accent-color); 
}

a:hover {
  color: var(--primary-color) 
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 6rem;
  font-weight: 900;
  color: #474747;
  margin-bottom: 0;
}

.no-bullets {
  list-style: none;
}

.container {
  /* background-color:#e4e2e5; */
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #c9c9ca;
}

/* Left Column */
.page-left-column {
  background-color: #c9c9ca;
  /* margin-top: 13px; */
}

.header-image {
  background-image: url('../img/code-icarus.png');
  height: 173px;
  margin-bottom: 21px;
  opacity: .5;
  /* margin-left: auto;
  margin-right: auto; */
  /* max-width: 100px;
  padding-top: 20px; */
  
}

.page-left-column table {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

.page-left-column th, .page-left-column td {
  border-bottom: 0;
  padding: 6px 8px;
}

.page-left-column .icon {
  padding-right: 0;
}

.page-left-column .desc {
  font-weight: bold;
  font-size: 1.5rem;
}

.page-left-column h2 {
  color: #28879d;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
}

#skills {
  /* Force background printing so the progress bars display when printing */
  -webkit-print-color-adjust: exact !important; 
}

.skill {
  margin: 10px auto;
  overflow: hidden;
  width: 200px;
}

.skill-name {
  margin-bottom: 5px;
}
.progress-container {
  background-color: white;
  border-radius: 5px;
}
.progress {
  width: 175px;
  height: 10px;
  border-radius: 5px;
  /* border: 1px solid white; */
  overflow: hidden;
  position: relative;
}

.progress span {
  background-color: #28879d;
  height: 100%;
  display: block;
  width: 0;
  color: rgb(255, 251, 251);
  line-height: 30px;
  position: absolute;
  text-align: end;
  padding-right: 5px;
}

/* End Left Column */

/* Right Column */
.page-right-column {
  background-color: #d8d9db;
}

.right-header {
  padding-bottom: 10px;
  padding-left: 20px;
}

.name {
  margin-top: 40px;
}

.current-job-title {
  color: #28879d;
  font-size: 1.6rem;
  margin-left: 5px;
}

.experience {
  background-color: #e4e2e6;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.experience h2 {
  color: #28879d;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.project, .job, .school {
  margin-bottom: 20px;
}

.project > .project-description, .job > .job-title, .school > .degree {
  font-size: 1.6rem;
  font-weight: 600;
}
.project > .project-link {
  color: var(--accent-color);
  cursor: pointer;
}

.project > .project-link:hover {
  color: var(--primary-color)
}

.project > .project-role, .job > .company, .school > .school-name {
  font-size: 1.2rem;
  font-weight: 500;  
}

.project ul {
  margin-bottom: 15px;
}

.project li {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-left: 5px;
}

.project li::before {
  content: "•"; 
  color: #309bb1;
  margin-right: 3px;
}

/* End Right Column */

@media (min-width: 550px){
  .eight.columns {
    width: 69.3333333333%;
  }
  .column, .columns {
    margin-left: 0;
  }
}

@media print {
  @page {
    margin: 25px 0 30px 0;
    
  }

  .header-image {
    height: 100px;
    margin-bottom: 45px;
    padding-top: 0;
  }
  .name {
    font-size: 4rem;
  }
  .current-job-title {
    margin-bottom: 10px;
  }

  .experience {
    padding-top: 10px;
  }

  .project ul {
    margin-bottom: 5px;
  }
  .project li {
    font-size: 1.1rem;
  }
  .project-link {
    color: var(--primary-color) !important;
  }
  #work-experience {
    margin-top: 60px; 
  }
}